.hero-section 
  width: 100%
  height: 919px
  background-image: url(../../images/hero-image.png)

  .hero-text 
    width: 100%
    height: 919px
    background-color: rgba(1, 1, 1, 0.5)
    position: relative

    .heading
        padding-top: 275px

        h1
            font-family: Playfair Display
            font-style: normal
            font-weight: bold
            font-size: 42px
            line-height: 56px
            color: #ffffff
            margin-bottom: 10px

        p
            font-family: Arial
            font-style: normal
            font-weight: bold
            font-size: 20px
            line-height: 23px
            color: #ffffff

        button
            cursor: pointer
            margin-top: 30px
            border: none
            color: #ffffff
            background-color: $gold
            font-family: Arial
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 23px
            border-radius: 30px
            padding: 18px 36px
            letter-spacing: 2px
            text-transform: uppercase
            
    .social-media
        position: absolute
        left: 5%
        bottom: 60px
        color: #ffffff
        display: flex
        align-items: center

        span
            font-family: Arial
            font-style: normal
            font-weight: bold
            font-size: 20px
            line-height: 25px
            margin-right: 27px

        .social-icon
            width: 24px
            height: 24px
            margin-right: 34px
            cursor: pointer



.room-image
    width: 441px
    height: 233px