* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1404px;
  margin: 0 auto;
}

.smaller-container {
  width: 1260px;
  margin: 0 auto;
}

.primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0ece7;
  height: 55px;
}

.primary-nav .primary-nav-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
}

.primary-nav .primary-nav-links li {
  margin-right: 35px;
  cursor: pointer;
}

.primary-nav .primary-nav-links .location-img {
  width: 16.5px;
  height: 24px;
  margin-right: 14px;
}

.primary-nav .primary-nav-links .mail-img {
  width: 24px;
  height: 16.5px;
  margin-right: 10px;
}

.primary-nav .primary-nav-links .login-img {
  width: 24px;
  height: 22.6px;
  margin-right: 10px;
}

.primary-nav .primary-nav-links .lang {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-nav .primary-nav-links .lang .magnifier-img {
  width: 23px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.primary-nav .primary-nav-links .lang .de {
  padding-right: 7px;
  margin-right: 7px;
  border-right: 1px solid #1d1d1d;
}

.primary-nav .primary-nav-links .lang .en {
  color: #9b6333;
}

.secondary-nav {
  height: 73px;
  width: 100%;
  background-color: #272525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-nav .container .logo {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 67px;
  color: #ffffff;
}

.secondary-nav .container .secondary-nav-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-left: 238px;
  color: #ffffff;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

.secondary-nav .container .secondary-nav-links li {
  cursor: pointer;
}

.hero-section {
  width: 100%;
  height: 919px;
  background-image: url(../../images/hero-image.png);
  overflow: hidden;
}

.hero-section .hero-text {
  width: 100%;
  height: 919px;
  background-color: rgba(1, 1, 1, 0.5);
  position: relative;
}

.hero-section .hero-text .heading {
  padding-top: 275px;
}

.hero-section .hero-text .heading h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero-section .hero-text .heading p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.hero-section .hero-text .heading .btn {
  cursor: pointer;
  margin-top: 30px;
  border: none;
  color: #ffffff;
  background-color: #9b6333;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  border-radius: 30px;
  padding: 18px 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
}

.hero-section .hero-text .social-media {
  position: absolute;
  left: 5%;
  bottom: 60px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-text .social-media span {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-right: 27px;
}

.hero-section .hero-text .social-media .social-icon {
  width: 24px;
  height: 24px;
  margin-right: 34px;
  cursor: pointer;
}

.hero-slider {
  position: absolute;
  top: -450px;
  left: 600px;
}

.hero-slider .slider-room--image {
  width: 441px;
  height: 233px;
}

.hero-slider .slider-room--text {
  background-color: white;
  width: 441px;
  height: 118px;
  padding-left: 30px;
  position: relative;
}

.hero-slider .slider-room--text h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383b37;
  padding-top: 30px;
}

.hero-slider .slider-room--text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  gap: 19px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9b6333;
}

.hero-slider .slider-room--text .slider-room--price {
  position: absolute;
  bottom: 43px;
  right: 30px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  color: #383b37;
}

.hero-slider .prev-arrow {
  position: absolute;
  top: 160px;
  left: -50px;
  cursor: pointer;
}

.hero-slider .slick-next {
  display: none !important;
}

.main-intro {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.main-intro .main-heading {
  width: 680px;
}

.main-intro .main-heading h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
}

.main-intro .main-heading p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #383b37;
  padding-top: 10px;
}

.main-intro .main-heading .btn {
  cursor: pointer;
  margin-top: 30px;
  border: none;
  color: #ffffff;
  background-color: #9b6333;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  border-radius: 30px;
  padding: 18px 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
}

.main-intro .main-text {
  width: 674px;
}

.main-intro .main-text p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #383b37;
}

.main-intro .main-text h3 {
  color: #383b37;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin: 22px 0 1px 0;
}

.best-apartments {
  margin-top: 61px;
}

.best-apartments h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
}

.best-apartments .apartments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.best-apartments .apartments-list .best-apartment {
  margin-top: 30px;
  position: relative;
}

.best-apartments .apartments-list .best-apartment .best-apartment--image {
  width: 321px;
  height: 233px;
}

.best-apartments .apartments-list .best-apartment .best-apartment--text {
  height: 118px;
  background-color: #F2F2F2;
  padding-left: 10px;
  margin-top: -5px;
}

.best-apartments .apartments-list .best-apartment .best-apartment--text h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383b37;
  padding-top: 30px;
}

.best-apartments .apartments-list .best-apartment .best-apartment--text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  gap: 19px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9b6333;
}

.best-apartments .apartments-list .best-apartment .best-apartment--text .best-apartment--price {
  position: absolute;
  bottom: 60px;
  right: 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  color: #383b37;
}

.service {
  margin-top: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .ornament-background {
  width: 100%;
  height: 355px;
  padding-bottom: 24px;
}

.service .service-text {
  width: 674px;
  color: white;
  position: absolute;
  top: 34px;
  left: 9%;
}

.service .service-text h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.service .service-text h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 30px;
}

.service .service-text p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 31px;
}

.service .service-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  gap: 19px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9b6333;
}

.service .maid {
  width: 40%;
  height: auto;
}

.service .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 39px;
  padding-left: 13%;
}

.service .services .service-benefits {
  width: 254px;
  height: 135px;
  background-color: #f0ece7;
  padding: 11px 0 0 15px;
  margin-top: 16px;
}

.service .services .service-benefits .service-heading {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383b37;
  padding-bottom: 6px;
}

.service .services .service-benefits hr {
  width: 100px;
  border: 1px solid #9b6333;
}

.service .services .service-benefits .service-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  padding-top: 4px;
}

.news {
  padding-top: 60px;
  width: 1260px;
  margin: 0 auto;
}

.news h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.news .news-slider {
  position: relative;
}

.news .news-slider .slick-slide {
  margin: 0 20px;
}

.news .news-slider .prev-arrow--news {
  position: absolute;
  left: -70px;
  top: 225px;
  cursor: pointer;
}

.news .news-slider .next-arrow--news {
  position: absolute;
  top: 225px;
  right: -70px;
  cursor: pointer;
}

.news .news-slider .single-news {
  width: 559px;
  height: 502px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 15px rgba(56, 59, 55, 0.3);
          box-shadow: 0px 15px 15px rgba(56, 59, 55, 0.3);
}

.news .news-slider .single-news .news-slider--image {
  width: 100%;
  height: 270px;
  padding-bottom: 13px;
}

.news .news-slider .single-news span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  gap: 19px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9b6333;
  padding-left: 19px;
}

.news .news-slider .single-news .category {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #B2B2B2;
  padding: 0 0 10px 19px;
}

.news .news-slider .single-news .title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding: 0 0 10px 19px;
  color: #383b37;
}

.news .news-slider .single-news .description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #383b37;
  padding: 0 0 31px 19px;
}
/*# sourceMappingURL=main.css.map */