* 
  box-sizing: border-box
  margin: 0
  padding: 0
  
.container 
  width: 1404px
  margin: 0 auto

.smaller-container
  width: 1260px
  margin: 0 auto

@import mixins
@import variables
@import primary-nav
@import secondary-nav
@import hero-section
@import main-content
      




