<section class = "hotel-features">
    <img class="hotel-img" src="../../images/hotel-img.png">
    <div class = "features">
        <h1>Discover Hotel features</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
        <button>book now</button>
    </div>
</section>