<footer>
    <div class = "footer-content">
        <div class = "hotel-column">
            <h1 class = "logo">Hotel</h1>
            <p class = "slogan">Every day is a new day for relaxation.</p>
            <div class = "follow-us">
                <span>Follow us</span>
                <img class="social-icon" src="../../images/facebook.svg">
                <img class="social-icon" src="../../images/instagram.svg">
            </div>
        </div>

        <div class = "address-column">
            <h2>Address</h2>
            <p class = "city">London</p>    
            <p class = "address">Main street 1 London, CA 70413 Open: 9:30AM 5:30PM</p>    
            <p class = "city">New York</p>
            <p class = "address">Great street Broadway, NT 10013 Open: 8:30AM 4:30PM</p>    
        </div>

        <div class = "contact-column">
            <h2>Contact us</h2>
            <p class = "contact">+44 (800) 456-78-91 hotel.london@mail.com</p>
            <p class = "contact">+1 (810) 456-78-91 hotel.ny@mail.com</p>
        </div>

        <div class = "subscribe-column">
            <h2>Stay in touch</h2>
            <input type = "text" placeholder = "Your email">
            <button>SUBSCRIBE</button>
        </div>
    </div>
    <div class = "bottom-footer">
        <div class = "bottom-footer--content">
            <span class = "frontend-akademija">@2020, Frontend akademija</span>
            <span class = "footer-links">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Site map</li>
                    <li class = "rights">All Rights Reserved</li>
                </ul>
            </span>
        </div>
    </div>
</footer>