{% extends "partials/header.html.twig" %}

{% block nav %}
    <nav class = "secondary-nav">
        <div class = "container">
            <h1 class = "logo">Hotel</h1>
            <ul class = "secondary-nav-links--product">
                <li><a href = "/">Home</a></li>
                <li>About</li>
                <li>Rooms</li>
                <li>Services</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
            <button class = "nav-btn">BOOK NOW</button>         
        </div>
    </nav>
{% endblock %}