<head>
  <link rel="stylesheet" type="text/css" href="/slick/slick/slick.css" />
</head>

<div class="hero-section">
  <section class="hero-text">
    <div class="container">
      <div class="heading">
        <h1>Feel like home, but better.</h1>
        <p>World-famous. Deeply relaxing.</p>
        <button class="btn">Learn more</button>
      </div>
      <div class="social-media">
        <span>Follow us</span>
        <img class="social-icon" src="../../images/facebook.svg" />
        <img class="social-icon" src="../../images/instagram.svg" />
      </div>
    </div>
  </section>

  <div class="hero-slider">
    {% for product in products %}
    <div class="slider-room">
      <img class="slider-room--image" src="{{ product.images[0].url }}" />
      <div class="slider-room--text">
        <h3>{{ product.title }}</h3>
        <span
          ><a href="/room/{{ product.slug }}">View details</a
          ><img class="details-arrow" src="../../images/details-arrow.svg"
        /></span>
        <p class="slider-room--price">{{ product.formatted_price }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
