<section class = "service">
    <div class = "excellent-service">
        <img class="ornament-background" src="../../images/dark-ornament.png">
        <div class = "service-text">
            <h1>Excellent service</h1>
            <h3 class = "relaxation">Every day is a new day for relaxation.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
            <span>View more <img class='details-arrow' src='../../images/details-arrow.svg'></span>
        </div>

        <section class = "services">
            <article>
                <img class="bed" src="../../images/bed.svg">
                <div class = "service-benefits">
                    <h2 class = "service-heading">Orthopedic beds</h2>
                    <hr>
                    <p class = "service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ispum.</p>
                </div>
            </article>
            <article>
                <img class="waiter" src="../../images/waiter.svg">
                <div class = "service-benefits">
                    <h2 class = "service-heading">Extraordinary cousine</h2>
                    <hr>
                    <p class = "service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida.</p>
                </div>
            </article>
            <article>
                <img class="coffee" src="../../images/coffee.svg">
                <div class = "service-benefits">
                    <h2 class = "service-heading">Custom coffee</h2>
                    <hr>
                    <p class = "service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </article>
        </section>
    </div>
    <img class="maid" src="../../images/maid.png">   
</section>