<section class = "best-apartments">
    <h1>Best Apartments</h1> 
    <div class = "apartments-list">
        {%for product in products%}
            <div class="best-apartment">
                <img class = "best-apartment--image" src = '{{product.images[0].url}}'/>
                <div class = "best-apartment--text">
                    <h3>{{ product.title }}</h3>
                    <span><a href = "/room/{{product.slug}}">View details</a><img class='details-arrow' src='../../images/details-arrow.svg'></span>
                    <p class = "best-apartment--price">{{ product.formatted_price }}</p>
                </div>
            </div>
        {%endfor%} 
    </div>             
</section>