<header>
    <nav class = "primary-nav">
        <div class = "container">
            <ul class = "primary-nav-links">
                <img class="location-img" src="../../images/location.svg">
                <li>Location</li>
                <img class="mail-img" src="../../images/mail.svg">
                <li>Mail us</li>
                <img class="login-img" src="../../images/loginkey.svg">
                <li>Login</li>
                <li class="lang">
                    <img class="magnifier-img" src="../../images/magnifier.svg">
                    <span class="de">DE</span>
                    <span class="en">EN</span>
                </li>
            </ul>         
        </div>
     </nav>
     {% block nav %}
        <nav class = "secondary-nav">
            <div class = "container">
                <h1 class = "logo">Hotel</h1>
                <ul class = "secondary-nav-links">
                    <li><a href = "/">Home</a></li>
                    <li>About</li>
                    <li>Rooms</li>
                    <li>Services</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>         
            </div>
        </nav>
    {% endblock %}
</header>

