<div class = "hero-section">
    <section class = "hero-text">
        <div class = "container">
            <div class = "heading">
                <h1>Feel like home, but better.</h1>
                <p>World-famous. Deeply relaxing.</p>
                <button>Learn more</button>
            </div>
            <div class = "social-media">
                <span>Follow us</span>
                <img class="social-icon" src="../../images/facebook.svg">
                <img class="social-icon" src="../../images/instagram.svg">
            </div>
        </div>
    </section> 
</div>