{% extends '/main_layout.html.twig' %}

{% block header %}
    {% include "partials/header.html.twig" %}
{% endblock %}

{% block content %}
    <div id = "home">
        {% include "partials/hero-section.html.twig" %}
        <div class = "container">
            {% include "partials/main-intro.html.twig" %}
            {% include "partials/best-apartments.html.twig" %}      
        </div>

        {% include "partials/services.html.twig" %}
        {% include "partials/news.html.twig" %}
        {% include "partials/features.html.twig" %}
        {% include "partials/reviews.html.twig" %}
    </div>
{% endblock %}