<!-- TWIG home page -->
<!-- https://twig.symfony.com/doc/3.x/ -->



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/scss/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
</head>
<body>
    {% include "/header.html.twig" %}
    {% include "/hero-section.html.twig" %}
    {% include "/main-content.html.twig" %}
    {% include "/footer.html.twig" %}

    <script src="/js/slick-init.js"></script>
</body>