<section class = "main-intro">
    <div class = "main-heading">
        <h1>Comfort & Design to relax in Luxury Hotel</h1>
        <p>Every day is a new day for relaxation.</p>
        <button class = "btn">About us</button>
    </div>
    <div class = "main-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
        <h3>John Johnson</h3>
        <p>General manager</p>
    </div>
</section>
