<body>
    <div class = "container">
        {% include "/main-intro.html.twig" %}
        {% include "/best-apartments.html.twig" %}      
    </div>

    {% include "/services.html.twig" %}
    {% include "/news.html.twig" %}
    {% include "/features.html.twig" %}
    {% include "/reviews.html.twig" %}

    {% include "/slick-scripts.html.twig" %}
</body>
